@model IEnumerable<Ogretmen>
<h2>Öğretmen Listesi</h2>
<a asp-controller="Ogretmen" asp-action="Create" class="btn  btn-primary ">Ogretmen Ekle</a>
<hr>

<table class="table table-bordered"> <br>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.OgretmenId)</th>
            <th>@Html.DisplayNameFor(m => m.Ad)</th>
            <th>@Html.DisplayNameFor(m => m.Soyad)</th>
            <th>@Html.DisplayNameFor(m => m.BaslamaTarihi)</th>
            <th style="width: 150px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ogrenci in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => ogrenci.OgretmenId)</td>
                <td>@Html.DisplayFor(modelItem => ogrenci.Ad) </td>
                <td>@Html.DisplayFor(modelItem => ogrenci.Soyad)</td>
                <td>@Html.DisplayFor(modelItem => ogrenci.BaslamaTarihi)</td>
                <td>
                    <a asp-controller="Ogretmen" asp-action="Edit" asp-route-id="@ogrenci.OgretmenId"
                        class="btn btn-sm btn-primary">Edit</a>
                    <a asp-asp-controller="Ogretmen" asp-action="Delete" asp-route-id="@ogrenci.OgretmenId"
                        class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>