@model IEnumerable<KursKayit>

<h2>Kayit Listesi</h2>
<a asp-action="Create" class="btn  btn-primary ">Kayıt Ekle</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 150px;">@Html.DisplayNameFor(m => m.KayitId)</th>
            <th style="width: 150px;">@Html.DisplayNameFor(m => m.Ogrenci.OgrenciAd)</th>
            <th style="width: 150px;">@Html.DisplayNameFor(m => m.Ogrenci.OgrenciSoyad)</th>
            <th style="width: 150px;">@Html.DisplayNameFor(m => m.Kurs.Baslik)</th>
            <th style="width: 150px;"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(ModelItem => item.KayitId)</td>
                <td>@Html.DisplayFor(ModelItem => item.Ogrenci.OgrenciAd)</td>
                <td>@Html.DisplayFor(ModelItem => item.Ogrenci.OgrenciSoyad)</td>
                <td>@Html.DisplayFor(ModelItem => item.Kurs.Baslik)</td>
                <td>
                    <a asp-controller="Ogrenci" asp-route-id="@item.OgrenciId" asp-action="Edit"
                        class="btn btn-sm btn-primary">Edit</a>
                    <a asp-controller="Ogrenci" asp-route-id="@item.OgrenciId" asp-action="Delete"
                        class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>